<p id="top">
    <a id="to-content" href="#content" title="Skip to content">Skip to content</a>
</p>

<div id="header">
    <div class="wrapper">
        <strong id="blog-title">
            <a href="/" title="Home" rel="home">Martin Kleppmann</a>
        </strong>
        <p id="blog-description">Entrepreneurship, web technology and the user experience</p>
    </div>
</div>

<div id="sub-header">
    <div class="wrapper">
        <div id="navigation">
            <ul>
                <li class="page_item"><a href="/contact.html" title="About/Contact">About/Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<hr class="divider">

<div class="wrapper">
