<p id="top">
    <a id="to-content" href="#content" title="Skip to content">Skip to content</a>
</p>

<div id="header">
    <div class="wrapper">
        <strong id="blog-title">
            <a href="http://martin.kleppmann.com/" title="Home" rel="home">Martin Kleppmann</a>
        </strong>
        <p id="blog-description">Entrepreneur and web technologist</p>
    </div>
</div>

<div id="sub-header">
    <div class="wrapper">
        <div id="navigation">
            <ul>
                <!-- TODO navigation links -->
            </ul>
        </div>
    </div>
</div>

<hr class="divider">

<div class="wrapper">
