<div id="carrington-subscribe" class="widget">
    <h2 class="widget-title">Subscribe</h2>
    <a class="feed" title="RSS 2.0 feed for posts" rel="alternate" href="http://feeds.feedburner.com/martinkl">
        Site <acronym title="Really Simple Syndication">RSS</acronym> feed
    </a>

    <div class="mailing-list-signup">
        <p>
            To find out when I write something new, sign up to receive an
            <a href="https://martinkl.substack.com/">email notification</a>,
            <a href="https://twitter.com/martinkl">follow me on Twitter</a>, or subscribe to the
            <a href="http://feeds.feedburner.com/martinkl">RSS feed</a>.
        </p>

        <p class="disclaimer">
            I won't give your email address to anyone else, won't send you any spam,
            and you can unsubscribe at any time.
        </p>
    </div>
</div>

<div id="primary-sidebar">
    <div id="book-promo" class="widget">
        <h2 class="title">My book</h2>
        <p><a href="http://dataintensive.net" target="_top"><img src="/images/book-cover-small.png" border="0" alt="Designing Data-Intensive Applications" width="180" height="236"/></a></p>
        <p>My book,
        <a href="http://dataintensive.net"><em>Designing Data-Intensive Applications</em></a>, has received
        <a href="https://www.goodreads.com/book/show/23466395-designing-data-intensive-applications">thousands</a>
        of five-star reviews.</p>
    </div>

    <div class="widget">
        <p>I am a researcher at the
        <a href="http://www.cl.cam.ac.uk/">University of Cambridge</a>,
        working on the <a href="http://www.trvedata.org/">TRVE DATA</a> project
        at the intersection of databases, distributed systems, and information security.</p>
    </div>

    <div class="widget">
        <p>If you find my work useful, please
        <a href="https://www.patreon.com/martinkl">support me on Patreon</a>.
    </div>

    <div id="tweets" class="widget">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/martinkl" data-widget-id="557543934298423296">Tweets by @martinkl</a>
    </div>
</div>
