{% assign articles = site.posts | where:'layout','ync-post' %}

{% assign talks1   = site.posts | where:'layout','talk' %}
{% assign talks2   = site.posts | where:'type','conference' | where:'me_presenting',true %}
{% assign talks    = talks1 | concat: talks2 | sort: 'date' | reverse %}

<div id="secondary-sidebar">
    <div class="widget">
        <h2 class="title">Recent posts</h2>
        <ul>
            {% for article in articles limit:5 %}
              <li>{{ article.date | date_to_string }}: <a href="{{ article.url }}">{{ article.title }}</a></li>
            {% endfor %}
            <li><a href="/archive.html">Full archive</a></li>
        </ul>
    </div>

    <div class="widget">
        <h2 class="title">Conference talks</h2>
        <ul>
            {% for talk in talks limit:5 %}
              <li><a href="{{ talk.url }}">{{ talk.date | date_to_string }} at {{ talk.venue }}</a></li>
            {% endfor %}
            <li><a href="/talks.html">Full archive</a></li>
        </ul>
    </div>
</div>
