<div id="carrington-subscribe" class="widget">
    <h2 class="widget-title">Subscribe</h2>
    <a class="feed" title="RSS 2.0 feed for posts" rel="alternate" href="http://feeds.feedburner.com/martinkl">
        Site <acronym title="Really Simple Syndication">RSS</acronym> feed
    </a>

    <div id="mc_embed_signup">
        <p>
            Enjoyed this? To get notified when I write something new,
            <a href="http://twitter.com/martinkl">follow me</a> on Twitter,
            <a href="http://feeds.feedburner.com/martinkl">subscribe</a> to the RSS feed,
            or type in your email address:
        </p>

        <form action="http://rapportive.us2.list-manage.com/subscribe/post?u=9a1adaf549282981a96e171d1&amp;id=4543b695f6"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <fieldset>
                <div class="mc-field-group">
                    <label for="mce-EMAIL">Email:</label>
                    <input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
                </div>
                <div id="mce-responses">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
            </fieldset>
        </form>

        <p class="disclaimer">
            I won't give your address to anyone else, won't send you any spam, and you can unsubscribe at any time.
        </p>
    </div>
</div>

<div id="primary-sidebar">
    <div id="book-promo" class="widget">
        <h2 class="title">My book</h2>
        <p><a href="http://www.anrdoezrs.net/click-7658334-11260198?url=http%3A%2F%2Fshop.oreilly.com%2Fproduct%2F0636920032175.do%3Fcmp%3Daf-strata-books-videos-product_cj_9781491903094_%2525zp&cjsku=0636920032175" target="_top"><img src="http://akamaicovers.oreilly.com/images/0636920032175/cat.gif" border="0" alt="Designing Data-Intensive Applications"/></a></p>
        <p>I'm writing a book for O'Reilly, called
        <a href="http://dataintensive.net">Designing Data-Intensive Applications</a>.</p>
    </div>

    <div id="tweets" class="widget">
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/martinkl" data-widget-id="557543934298423296">Tweets by @martinkl</a>
    </div>
</div>
