<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Martin Kleppmann&rsquo;s blog</title>
    {% include headers.html %}
</head>

<body class="wordpress">
    <div id="page">
        {% include before.html %}
        <div id="content">
            {{ content }}
        </div>
        {% include after.html %}
    </div>

    <script type="text/javascript">
        var disqus_shortname = 'martinkl';

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://disqus.com/forums/' + disqus_shortname + '/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>

    {% include analytics.html %}
</body>
</html>
