<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }} &mdash; Martin Kleppmann&rsquo;s blog</title>
    {% include headers.html %}
</head>

<body class="wordpress">
    <div id="page">
        {% include header.html %}

        <div class="wrapper">
            <div id="content">
                <a class="twitter-share-button" href="https://twitter.com/share" data-text="{{ page.title }}"
                    data-via="martinkl" data-related="martinkl" data-size="large" data-count="none">Tweet</a>

                <h1>{{ page.title }}</h1>

                {% if page.date %}
                <p style="font-size: 80%">Published by Martin Kleppmann on {{ page.date | date_to_string }}.</p>
                {% endif %}

                {{ content }}

                {% for hn_link in page.hackernews %}
                <div class="hackernews">
                    Join the discussion about this article
                    <a href="{{ hn_link }}" target="_blank">on Hacker News</a>.
                </div>
                {% endfor %}

                <div id="disqus_thread"></div>
            </div>

            <div id="sidebar">
                {% include sidebar_top.html %}
                {% include sidebar_index.html %}
            </div>
        </div>

        {% include footer.html %}
    </div>

    {% include disqus.html %}
    {% include analytics.html %}
</body>
</html>
