.hackernews {
    height: 30px;
    background: url(/images/hackernews.png) top left no-repeat;
    padding: 10px 0 0 55px;
    margin-bottom: 18px;
}

.twitter-share-button {
    float: right;
    margin: 32px 0 10px 10px;
}

#disqus_thread ul {
    list-style-image: none;
}

#content .mailing-list-signup {
    background: #eee;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#sidebar .mailing-list-signup {
    clear: both;
    padding-top: 1.5em;
}

.mailing-list-signup p {
    margin-bottom: 0.5em;
}

.mailing-list-signup label {
    font-weight: bold;
}

.mailing-list-signup .disclaimer {
    font-size: 80%;
    margin-top: 0.8em;
}

figure.highlight {
    margin: 0;
}
