---
layout: front-page
---

<h1>Hello!</h1>

<p>I'm Martin Kleppmann &mdash; researcher, software engineer, entrepreneur, author and speaker.
I am a researcher in distributed systems at the
<a href="http://www.cst.cam.ac.uk/">University of Cambridge Department of Computer Science and Technology</a>.
In 2017 I published a book for <a href="http://www.oreilly.com/">O'Reilly</a>, called
<a href="http://dataintensive.net/">Designing Data-Intensive Applications</a>.
In my past startup life I co-founded
<a href="https://www.crunchbase.com/organization/rapportive">Rapportive</a>
(acquired by <a href="http://www.linkedin.com/">LinkedIn</a> in 2012) and
<a href="https://www.crunchbase.com/organization/go-test-it">Go Test It</a>
(acquired by <a href="http://www.red-gate.com/">Red Gate Software</a> in 2009).</p>

<p>I care about making stuff that people want, great people, a culture of respect and empathy,
clarity of thinking, marvellous user experiences, maintainable code and scalable architectures.</p>

<p>I'd love to hear from you, so please leave comments, or feel free to
<a rel="author" href="/contact.html">contact me directly</a>.</p>

{% assign articles = site.posts | where:'layout','ync-post' %}
{% assign talks    = site.posts | where:'layout','talk'     %}
{% assign papers   = site.posts | where:'layout','paper'    %}

<h2 class="title">Recent posts</h2>
<p>Things I have written recently.</p>
<ul>
  {% for article in articles limit:5 %}
    {% include article_summary.html article=article %}
  {% endfor %}
  <li><a href="/archive.html">Full archive</a></li>
</ul>

<h2>Highlights</h2>
<p>Older articles that have remained popular.</p>
<ul>
  {% for article in articles offset:5 %}
    {% if article.highlight %}
      {% include article_summary.html article=article %}
    {% endif %}
  {% endfor %}
</ul>

<h2 class="title">Conference talks</h2>
<p>Events where I will be speaking or have spoken.</p>
<ul>
  {% for talk in talks limit:5 %}
    {% include talk_summary.html talk=talk %}
  {% endfor %}
  <li><a href="/talks.html">Full archive</a></li>
</ul>

<h2 class="title">Publications</h2>
<p>Books:</p>
<ul>
  {% for paper in papers %}
    {% if paper.type == 'book' %}
      {% include paper_summary.html paper=paper %}
    {% endif %}
  {% endfor %}
</ul>
<p>Journal papers:</p>
<ul>
  {% for paper in papers %}
    {% if paper.type == 'journal' %}
      {% include paper_summary.html paper=paper %}
    {% endif %}
  {% endfor %}
</ul>
<p>Conference and workshop papers:</p>
<ul>
  {% for paper in papers %}
    {% if paper.type == 'conference' %}
      {% include paper_summary.html paper=paper %}
    {% endif %}
  {% endfor %}
</ul>
<p>Invited papers, book chapters, and reports:</p>
<ul>
  {% for paper in papers %}
    {% if paper.type != 'book' and paper.type != 'journal' and paper.type != 'conference' %}
      {% include paper_summary.html paper=paper %}
    {% endif %}
  {% endfor %}
</ul>
